.transition-header {
    transition: left 0.3s ease-in-out, right 0.3s ease-in-out;
  }

.transition-sidebar {
    transition: width 0.3s ease, visibility 0.3s ease;
  }

.sidebar-transition {
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    opacity: 0;
    transform: translateX(100%);
  }
  
.main-transition {
    transition: margin 0.3s ease;
  }
  
.sidebar-transition.open {
    opacity: 1;
    transform: translateX(0);
}

/* The scrollbar */
::-webkit-scrollbar {
    width: 0px; /* Width of the vertical scrollbar */
}
